%h2.page-header= page_title

.panel.panel-default
  .panel-heading
    = icon 'lock', t('text.change_password')

  .panel-body
    = bootstrap_form_for resource,
                         layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-4',
                         url:    registration_path(resource),
                         html:   { method: :patch, id: 'my_password' } do |f|

      = f.password_field :current_password, autocomplete: 'off', label_class: 'required'
      = f.password_field :password, autocomplete: 'off'
      = f.password_field :password_confirmation, autocomplete: 'off', label_class: 'required'

      = f.form_group do
        = f.button nil, class: 'btn btn-primary btn-outline'
        = link_to t('button.cancel'), my_account_path, class: 'btn btn-default btn-outline'
