.row
  .col-md-6
    .panel.panel-default
      .panel-heading
      .panel-body

        = easy_form_for @form, label_col: 'col-md-4', control_col: 'col-md-8' do |f|

          = f.text_field :name, required: true
          = f.text_field :description
          = f.form_group do
            = f.check_box :enabled, label: MailingList.human_attribute_name('enabled')

          = f.form_group do
            = f.button nil, options_for_spinner_button
