.panel.panel-default
  .panel-heading
    = @model
    .pull-right
      = MailingList.human_attribute_name('enabled')
      = bool_to_icon @model.enabled?

  .panel-body= @model.description
  %table.table
    %thead
      %tr
        %th= Email.human_attribute_name('first_name')
        %th= Email.human_attribute_name('last_name')
        %th= Email.human_attribute_name('email')
    %tbody
      - @model.emails.each do |email|
        %tr
          %td= email.first_name
          %td= email.last_name
          %td= mail_to email.email
