%h2.page-header= page_title

.row
  .col-md-4
    .panel.panel-default

      .panel-heading= link_to icon('plus', t('.new')), new_mailing_list_path

      %ul.list-group
        - @model.each do |mailing_list|
          %li.list-group-item
            = link_to "#{mailing_list.name} (#{mailing_list.email})", mailing_list, remote: true
            .pull-right
              = link_to icon('pencil', t('text.edit')), edit_mailing_list_path(mailing_list)
              = link_to icon('trash-o', t('text.delete')), mailing_list_path(mailing_list), method: :delete, data: { confirm: t('text.are_you_sure') }
  .col-md-8
    #mailing-list-renderer
