%h4.header= t('.hi', name: @resource.to_s)
%p= t('.new_one_html', password: @password)
%p= t('.login_html', url: link_to(new_session_url(@resource, host: @host), new_session_url(@resource, host: @host)))
%p= t('.reminder_html', login: @resource.email)
%p= t('.bye')
