%h4.header= t('.hi', name: @resource.to_s)
%p= t('.ask_for_password_change')
%p= t('.follow_link')
%p= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token, host: @host)
%p= t('.ignore')
%p= t('.bye')
