%h2.page-header= page_title

= easy_form_for [:admin, @form], label_col: 'col-md-4', control_col: 'col-md-8' do |f|
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          = icon 'info', t('text.infos')

        .panel-body
          = f.text_field  :first_name, required: true
          = f.text_field  :last_name,  required: true
          = f.email_field :email,      required: true, label_class: 'required'

          = f.select           :language, available_locales, selected: (@model.language.present? ? @model.language : I18n.default_locale)
          = f.time_zone_select :time_zone, nil, { default: 'Paris' }

          = f.form_group label: { text: User.human_attribute_name('admin') } do
            = f.check_box :admin, label: ''

          = f.form_group label: { text: User.human_attribute_name('enabled') } do
            = f.check_box :enabled, label: ''

          = f.form_group do
            = f.button nil, options_for_spinner_button
            = link_to t('button.cancel'), admin_users_path, class: 'btn btn-default'
