#select-password-creation-mode
  = f.hidden_field :create_options, value: ''
  = f.collection_radio_buttons :create_options, user_password_options, :first, :last, inline: false, control_col: 'col-md-6'

#password-manual-creation{ style: display_on_condition(f.object.create_options, 'manual') }
  = f.password_field :password, autocomplete: 'off', control_col: 'col-md-4', required: false
  = f.password_field :password_confirmation, autocomplete: 'off', control_col: 'col-md-4', required: false

= f.form_group do
  = f.check_box :send_by_mail, label: User.human_attribute_name('send_by_mail')

- content_for :javascript do
  :plain
    $('#select-password-creation-mode input:radio').on('change', function(){
      value = $("#select-password-creation-mode input[type='radio']:checked").val();
      if (value == 'manual'){
        $('#password-manual-creation').show();
      } else {
        $('#password-manual-creation').hide();
      }
    });
