%h2.page-header= page_title

.panel.panel-default
  .panel-body
    = easy_form_for [:admin, @form], url: update_password_admin_user_path(@model), label_col: 'col-md-2', control_col: 'col-md-4' do |f|

      = render 'password_fields', f: f

      = f.form_group do
        = f.button nil, options_for_spinner_button
        = link_to t('button.cancel'), edit_admin_user_path(@model), class: 'btn btn-default'
