%h1
  Listing users
  %small= link_to 'New User', new_admin_user_path

%table.table
  %thead
    %tr
      %th= User.human_attribute_name('first_name')
      %th= User.human_attribute_name('last_name')
      %th= User.human_attribute_name('email')
      %th
      %th


  %tbody
    - @model.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= link_to 'Edit', edit_admin_user_path(user)
        %td= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
