!!! 5
%html
  %head= render 'layouts/common/head', assets_for_layout: 'main/application'

  %body

    #wrapper

      = navbar container: false, static: :top, style: 'margin-bottom: 0;' do
        = navbar_header brand: 'Flap!', brand_link: root_path
        = render_navigation_menu(:topbar_right)
        .navbar-default.sidebar{ role: 'navigation' }
          .sidebar-nav.navbar-collapse
            = render_navigation_menu(sidebar_menu)

      #page-wrapper
        .row
          .col-lg-12
            #flash-messages= render_flashes
            = yield

    = render 'layouts/common/javascript'
